runs/
__pycache__/
models/
data/
.venv/
.vimrc
.ipynb_checkpoints/
.python-version
notebooks/graph_enc.py
.vscode/settings.json
changelog.txt
wandb/
runs/
*.swp
predicate_games.ipynb
concon/eval/predicate/analysis.py
concon/eval/predicate/tests.py
