runs/
__pycache__/
models/
data/
.venv/
.vimrc
.ipynb_checkpoints/
.python-version
notebooks/graph_enc.py
.vscode/settings.json
changelog.txt
wandb/
runs/
*.swp
predicate_games.ipynb
concon/eval/predicate/plots
concon/eval/predicate/outputs
concon/eval/predicate/verify_n_cm.txt
concon/eval/predicate/verify_n-n_cm.txt
