--extra-index-url https://download.pytorch.org/whl/cu117
absl-py==2.3.1
annotated-types==0.7.0
cachetools==4.2.4
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.1.8
contourpy==1.1.1
cycler==0.12.1
Cython==3.1.6
eval_type_backport==0.3.1
fonttools==4.57.0
gitdb==4.0.12
GitPython==3.1.46
google-auth==1.35.0
google-auth-oauthlib==0.4.6
grpcio==1.70.0
idna==3.11
importlib_metadata==8.5.0
importlib_resources==6.4.5
joblib==1.4.2
kiwisolver==1.4.7
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.3.4
numpy==1.19.5
oauthlib==3.3.1
packaging==25.0
pandas==1.0.3
Pillow==9.5.0
platformdirs==4.3.6
protobuf==3.20.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycocotools==2.0.7
pydantic==2.10.6
pydantic_core==2.27.2
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-Levenshtein==0.12.0
pytz==2026.1.post1
PyYAML==6.0.3
requests==2.32.4
requests-oauthlib==2.0.0
rsa==4.9.1
scikit-learn==0.23.2
scipy==1.4.1
seaborn==0.11.2
sentry-sdk==2.52.0
six==1.17.0
smmap==5.0.2
tensorboard==2.1.0
tensorboardX==2.1
threadpoolctl==3.5.0
torch==1.13.1+cu117
torchaudio==0.13.1+cu117
torchvision==0.14.1+cu117
tqdm==4.43.0
typing_extensions==4.13.2
urllib3==2.2.3
wandb==0.24.2
Werkzeug==3.0.6
zipp==3.20.2
